body{
    background: #f1f1f1;
}
.contenidor{
    margin: 20px auto;
    width: 1000px;
    height: 700px;
    border: 25px solid #000000;
    position: relative;
}

img{
    position: absolute;
    margin-top: 70px;
    width: 150px;
    animation: 
        vert 1.2s 
        alternate 
        infinite 
        cubic-bezier(.4,0,1,.3),
        hor 13s
        alternate
        infinite
        cubic-bezier(1,1,1,1),
        defo 1.2s
        alternate
        infinite
        cubic-bezier(1,1,1,1);
}

@keyframes vert{
    0%{top:0%;}
    97%{top:480px;}
    100%{top: 485px;}
}
@keyframes hor{
    0%{left:-20px;}
    50%{left: 865px;}
    100%{left: -20px;}
}
@keyframes defo{
    5%{transform: scale(1,1);}    
    40%{transform: scale(.9,1.1);}
    97%{transform: scale(.8,1.2);}
    100%{transform: scale(1.2,0.8);}
}